* {
  margin: 0;
  padding: 0;
}

a {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1536px;
  margin-inline: auto;

  @media (max-width: 1600px) {
    margin-inline: 4rem;
  }

  @media (max-width: 992px) {
    margin-inline: 2rem;
  }

  @media (max-width: 576px) {
    margin-inline: 1rem;
  }
}

@font-face {
  font-family: gilory;
  src: url(/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: prototype;
  src: url(/fonts/Prototype.ttf);
}

h1 {
  font-family: prototype;
}

body {
  font-family: gilory;
  color: white;
  background-color: #242629;
}

/* nav wrapper starts from here */

.hero-BG {
  position: relative;

  min-height: 100vh;
  isolation: isolate;
}

.hero-bg-main {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @media (max-width: 992px) {
    object-fit: cover;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 38px;
    font-weight: 400;
    line-height: 101px;

    @media (max-width: 992px) {
      font-size: 32px;
    }

    @media (max-width: 576px) {
      font-size: 22px;
    }
  }

  div:nth-of-type(1) {
    display: flex;
    gap: 1rem;
    align-items: center;

    @media (max-width: 576px) {
      gap: 8px;
    }
  }

  div:nth-of-type(2) {
    display: flex;
    gap: 2rem;
    align-items: center;

    @media (max-width: 768px) {
      gap: 1rem;
    }

    img {
      display: none;

      @media (max-width: 576px) {
        display: block;
      }
    }

    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 19px;
      cursor: pointer;

      @media (max-width: 992px) {
        font-size: 16px;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}
/* nav wrapper ends here */

/* hero section starts from here */

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  div:nth-of-type(2) {
    img {
      width: 700px;
      height: 700px;

      @media (max-width: 1400px) {
        width: 600px;
        height: 600px;
      }
      @media (max-width: 1200px) {
        width: 450px;
        height: 450px;
        margin-top: 6rem;
      }

      @media (max-width: 992px) {
        margin: 0;
      }

      @media (max-width: 576px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.hero-main {
  h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;

    @media (max-width: 1400px) {
      font-size: 50px;
    }

    @media (max-width: 1200px) {
      font-size: 40px;
      line-height: 60px;
      margin-top: 5rem;
    }

    @media (max-width: 992px) {
      margin: 0;
      font-size: 50px;
    }
    @media (max-width: 576px) {
      font-size: 35px;
      line-height: 45px;
    }
  }

  img {
    margin-top: 4rem;
    cursor: pointer;

    @media (max-width: 992px) {
      margin-top: 2rem;
      width: 250px;
      height: 55px;
    }

    @media (max-width: 576px) {
      width: 200px;
      height: 45px;
    }
  }
}

/* hero section ends here */

/* intro section starts from here */

.intro-features-main {
  position: relative;
  min-height: 200vh;
  isolation: isolate;
}

.features-BG {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;

  @media (max-width: 992px) {
    object-fit: cover;
  }
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15rem;

  @media (max-width: 992px) {
    padding-block: 8rem;
  }

  @media (max-width: 768px) {
    padding-block: 5rem;
  }

  h2 {
    font-size: 144px;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
    color: #ffffff1a;

    @media (max-width: 1200px) {
      font-size: 100px;
    }

    @media (max-width: 768px) {
      font-size: 65px;
      line-height: normal;
    }

    @media (max-width: 576px) {
      font-size: 38px;
    }
  }
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.intro-power {
  padding-top: 5rem;
  flex: 1;

  @media (max-width: 768px) {
    padding-top: 3rem;
  }
  h3 {
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;

    @media (max-width: 1200px) {
      font-size: 35px;
      line-height: 40px;
      width: 500px;
    }

    @media (max-width: 992px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 26px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
      width: 300px;
      line-height: 30px;
    }

    br {
      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  span {
    color: #3cb816;
  }
}

.intro-wrapper {
  flex: 1;

  h3 {
    padding-top: 5rem;
    font-size: 48px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;

    @media (max-width: 992px) {
      padding-top: 1rem;
    }
    @media (max-width: 1200px) {
      font-size: 35px;
      line-height: normal;
    }

    @media (max-width: 992px) {
      text-align: center;
      padding-top: 2rem;
    }

    @media (max-width: 768px) {
      font-size: 26px;
    }

    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  p {
    font-size: 24px;
    font-weight: 200;
    line-height: 28px;
    text-align: left;
    color: #909090;

    @media (max-width: 1200px) {
      font-size: 18px;
      padding-top: 1rem;
    }

    @media (max-width: 992px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      padding-inline: 1rem;
    }
  }
}

.hr-line {
  border-top: 1px solid #3cb816;
  margin-bottom: 2rem;
  width: 256px;

  @media (max-width: 992px) {
    width: 500px;
  }

  @media (max-width: 576px) {
    width: 100%;
    margin-inline: auto;
  }
}

/* intro section ends here */

/* features section starts from here */

.features-container {
  padding-block: 5rem;
  h2 {
    font-size: 144px;
    font-weight: 400;
    text-align: center;
    color: #ffffff1a;
    padding-bottom: 2rem;

    @media (max-width: 768px) {
      font-size: 90px;
    }

    @media (max-width: 576px) {
      font-size: 45px;
    }
  }
}

.features-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 1rem;

  div {
    padding-top: 1rem;

    @media (max-width: 576px) {
      width: 100px;
    }
    p {
      font-size: 28px;
      font-weight: 400;
      line-height: 31px;
      color: #ffffff1a;
      padding-top: 10px;

      @media (max-width: 992px) {
        font-size: 22px;
      }

      @media (max-width: 576px) {
        font-size: 18px;
      }
    }

    span {
      display: block;
    }

    img {
      cursor: pointer;
    }
  }

  div:nth-of-type(1) {
    p {
      font-size: 28px;
      font-weight: 400;
      line-height: 31px;
      color: white;
      padding-top: 8px;

      @media (max-width: 992px) {
        font-size: 22px;
      }
    }

    span {
      display: block;
    }
  }
}

.features-main {
  padding-top: 4rem;

  @media (max-width: 768px) {
    padding-top: 1rem;
  }

  img {
    @media (max-width: 576px) {
      width: 70%;
    }
  }

  p {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    width: 70%;
    color: #909090;
    padding-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 24px;
      line-height: 35px;
    }
    @media (max-width: 576px) {
      font-size: 16px;
      line-height: normal;
    }
  }

  a {
    font-size: 24px;
    font-weight: 600;
    line-height: 45px;
    color: #3cb816;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: normal;
    }
  }
}

/* features section ends here */

/* take section starts from here */

.take-wrapper {
  min-height: 100vh;
  position: relative;
  isolation: isolate;

  @media (max-width: 992px) {
    min-height: 70vh;
  }

  @media (max-width: 576px) {
    min-height: 50vh;
  }

  h2 {
    position: absolute;
    color: white;
    font-size: 144px;
    font-weight: 400;
    line-height: 28px;
    color: #36383b;
    margin-top: 5rem;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 992px) {
      font-size: 110px;
      margin-top: 0;
    }

    @media (max-width: 768px) {
      font-size: 90px;
      margin-top: 5rem;
    }

    @media (max-width: 576px) {
      font-size: 45px;
      margin-top: 0;
    }
  }
}

.rotated-image {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 576px) {
    display: block;
    height: 300px;
    width: 250px;
  }
}

.take-BG {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;

  @media (max-width: 992px) {
    object-fit: cover;
  }
}

.take-image {
  position: absolute;
  margin: auto;
  inset: 0;

  @media (max-width: 1450px) {
    width: 90%;
  }

  @media (max-width: 576px) {
    display: none;
  }
}

/* take section ends here */

/* transform section starts from here  */

.transfrom-wrapper {
  position: relative;
  min-height: 100vh;
  isolation: isolate;
}

.transform-BG {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;

  @media (max-width: 992px) {
    object-fit: cover;
  }
}

.transform-main {
  h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    color: #3cb816;
    padding-top: 5rem;

    @media (max-width: 1200px) {
      font-size: 42px;
    }

    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 50px;
    }

    @media (max-width: 576px) {
      font-size: 24px;
      line-height: 35px;
    }
  }
}

.footer-reserved {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: right;
  padding-bottom: 1rem;
  color: #909090;
}

.transform-lead {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15rem;

  @media (max-width: 768px) {
    gap: 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  gap: 10rem;
  min-height: 200px;

  @media (max-width: 992px) {
    gap: 3rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.footer-dpgu {
  flex: 1;
  div {
    display: flex;

    @media (max-width: 768px) {
      justify-content: center;
    }

    img {
      width: 45px;

      @media (max-width: 1200px) {
        width: 30px;
      }

      @media (max-width: 768px) {
        width: 25px;
        height: 25px;
      }
    }

    h1 {
      padding-left: 8px;
      @media (max-width: 1200px) {
        font-size: 26px;
      }

      @media (max-width: 768px) {
        font-size: 20px;
        font-weight: 200;
      }
    }
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #909090;

    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.footer-main {
  flex: 1;
  gap: 10px;
  h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    border-bottom: 1px solid #ffffffe0;
    padding-bottom: 10px;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
      font-size: 24px;
      padding-bottom: 5px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
      padding-bottom: 0;
    }
  }

  a:hover {
    color: lightblue;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #909090;

    @media (max-width: 1200px) {
      font-size: 16px;
      padding-top: 5px;
      line-height: normal;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      padding-top: 3px;
    }
  }

  p:hover {
    color: lightblue;
    cursor: pointer;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #909090;

    @media (max-width: 1200px) {
      font-size: 16px;
      padding-top: 5px;
      line-height: normal;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      padding-top: 3px;
    }
  }
}
/* transform section ends here  */
